<div class="component" style="padding: 0 10%">
  <h3 class="text-center pt-2">View Question</h3>
  <hr />
  <form [formGroup]="postForm">
    <label class="my-2">Exam Id</label>
    <input type="text" class="form-control" formControlName="examId" readonly />
    <label class="my-2">Section Id</label>
    <input
      type="text"
      class="form-control"
      formControlName="sectionId"
      readonly
    />
    <label class="my-2">Question Id</label>
    <input
      type="text"
      class="form-control"
      formControlName="examQuestionId"
      readonly
    />
    <label class="my-2">Question</label>
    <input
      type="text"
      class="form-control"
      formControlName="question"
      readonly
    />
    <label class="my-2">Options</label>
    <input
      type="text"
      class="form-control"
      formControlName="options"
      readonly
    />
    <label class="my-2">Correct Answer</label>
    <input
      type="text"
      class="form-control"
      formControlName="correctOptionIndex"
      readonly
    />
    <button class="btn btn-info mt-4" routerLink="../../">Back</button>
  </form>
</div>
