<div class="component" style="padding: 0 10%">
  <h3 class="text-center pt-2">Update Exam Schedule</h3>
  <hr />
  <form [formGroup]="postForm" (ngSubmit)="updateExam()">
    <label class="my-2">Exam Name</label>
    <input type="text" class="form-control" formControlName="examName" />
    <label class="my-2">Exam Date</label>
    <input type="date" class="form-control" formControlName="examDate" />
    <label class="my-2">Exam Start Time</label>
    <input type="time" class="form-control" formControlName="startTime" />
    <label class="my-2">Duration In Minutes</label>
    <input
      type="number"
      class="form-control"
      formControlName="durationInMinutes"
    />
    <label class="my-2">Exam Instructions</label>
    <input type="text" class="form-control" formControlName="instructions" />
    <div class="d-flex gap-4 mt-4">
      <button class="btn btn-info" [disabled]="postForm.invalid">
        Update ✔
      </button>
      <button type="button" class="btn btn-danger" routerLink="/schedule">
        Cancel ❌
      </button>
    </div>
  </form>
</div>
