<div *ngIf="page !== 'login' && page !== 'register'" class="wrapper">
  <nav>
    <ul style="margin: 0">
      <li>
        <a routerLink="schedule" [class]="page === 'schedule' ? 'active' : ''"
          >Exams Schedule</a
        >
      </li>
      <li>
        <a routerLink="category" [class]="page === 'category' ? 'active' : ''"
          >Category</a
        >
      </li>
      <li>
        <a routerLink="question" [class]="page === 'question' ? 'active' : ''"
          >Questions</a
        >
      </li>
      <li routerLink="/login" title="Logout">
        <img src="../assets/user.png" alt="user" class="user-icon" />
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
