<div class="position-relative component" style="padding: 0 5%">
  <h1 class="text-center">Exam Questions</h1>
  <button
    class="btn btn-primary position-absolute top-0 end-0 mt-2"
    style="margin-right: 5%"
    routerLink="add"
  >
    New
  </button>
  <table class="table text-center">
    <thead>
      <tr>
        <th>Exam Id</th>
        <th>Section Id</th>
        <th>Question Id</th>
        <th>Question</th>
        <th>Options</th>
        <th>Currect Answer</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exam of exams">
        <td>{{ exam.examId?.slice(0, 8) | uppercase }}</td>
        <td>{{ exam.sectionId }}</td>
        <td>{{ exam.examQuestionId }}</td>
        <td>{{ exam.question }}</td>
        <td>{{ exam.options }}</td>
        <td>{{ exam.options[exam.correctOptionIndex] }}</td>
        <td>
          <button
            class="btn btn-info"
            routerLink="details/{{ exam.examQuestionId }}"
          >
            View
          </button>
          <button
            class="btn btn-success mx-2"
            routerLink="edit/{{ exam.examQuestionId }}"
          >
            Update
          </button>
          <button
            class="btn btn-danger"
            (click)="onDeleteexam(exam.examQuestionId!)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <h2 *ngIf="!exams.length" class="text-center">No data present. 😞</h2>
</div>
